@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-emoji {
  width: 60%;
  padding: 0 20%;
  height: 100vh;
  background-color: #FFF0EC;
  font-family: Roboto;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.container-emoji > * {
  margin: 10px 0;
}

.color--accent-emoji {
  color: #F4900C;
  font-weight: bold;
}

.users-container-emoji {
  width: 100%;
  text-align: center;
  height: 450px;
  background-color: #FFD1C2;
  border-radius: 20px;
}

.users__title-emoji {
  color: #fff;
  line-height: 100px;
}

.users-grid {
  width: calc(100% - 200px);
  background-color: #FFF7F4;
  height: 350px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  padding: 0 50px;
}

.grid__header {
  font-size: 24px;
}

.user__row__emoji {
  display: grid;
  grid-template-columns: 1fr 10fr 10fr 10fr;
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
}
