@import url('https://fonts.googleapis.com/css?family=Roboto');

.topics-page-container {
  width: 60%;
  padding: 0 20%;
  height: 100vh;
  background-color: #fbf2ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.topics-text-container {
  text-align: center;
}

.topics__title {
  font-size: 48px;
}

.topics__subtitle {
  font-family: 'Roboto';
  font-weight: 300;
}

.topics-chart-container {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: aliceblue;
}
